@font-face {
    font-family: hn;
    src: url(HelveticaNeueLight.otf);
  }

body {
    background-color: #1f1f1f;
    color: #fff;
    font-family: hn;
}

.content {
    background: #2f2f2f;
    /* margin-left: 10vw;
    margin-top: 5vh; */
    margin: 0 auto;
    margin: 50;
}

.header {
    background-color: #555;
    padding: 1em;
    font-size: 30px;
}

.keychain {
    padding: 1em;
    padding-left: 2em;
    padding-bottom: 2em;
}

.keycount {
    padding-bottom: 1em;
    font-size: 12px;
    color: #888
}

.keyslot {
    border-bottom-color: #555;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-color: #555;
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: -1px;
    height: 5em;
    padding-bottom: 10px;
}

.keycontents {
    margin: 10px;
}

.keyname {
    color: #ddd;
}

.key {
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.count {
    font-size: 12px;
    color: #888
}